<!-- ejs file same as the html file but we can extra work in ejs file that are not done in html file  -->

<!-- first of all we shall have to install ejs with the command :  npm i ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Hey </h1>
</body>
</html>